body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
    
  }
  
  .container {
    text-align: center;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    height: 100%;
    width: 100%;
  }
  
  h1 {
    margin-bottom: 1px;
    font-size: 40px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2a7dd5;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    font-size: 350px;
    margin-top: 1px;
    margin-bottom: 10px;
  }
  